/* whole app */
#app {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr;
}

body {
    margin: 0em 0em 15em 0em;
    position: relative;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

footer {
    width: 100vw;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: lightblue;
}

/* diary */
.diary-div {
    margin-bottom: 4em;
    color: darkslategrey;
}

.diary-session-card {
    padding-bottom: 1em;
    margin-bottom: 1em;
    background-color: lavender;
}

.card-header {
    background-color: darkslategrey;
    color: #fff;
}

.todos-div {
    background-color: aliceblue;
    margin-bottom: 1em;
    padding: 1em;
}

.streak-div {
    background-color: aliceblue;
    margin-bottom: 1em;
    padding: 1em;
}

.choose-user-diary-buttons-div {
    margin-bottom: 1em;
}
