.registerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.registerForm select{
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: lightgrey;
}